---
interface Props{
    identi: string;
    price: number;
    text: string;
    // dolar: number;
    abreviatura: string;
}

const {identi, price, text, abreviatura} = Astro.props
---
<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    Array.from(checkboxes).forEach(function (checkbox) {
        const soles = parseFloat(checkbox.value) * parseFloat(localStorage.getItem("dolar"));
        checkbox.nextElementSibling.lastChild.innerHTML = soles.toFixed(2) 
    });
</script>
<div class="w-full">
    <div class="flex items-start p-2">
        <input class="form-checkbox rounded mt-1" type="checkbox" data-abr={`${abreviatura}`} value={`${price}`} id={`${identi}`}>
        <label class="ml-2 text-sm label-add" for={`${identi}`}>{text} <span></span></label>
    </div>
</div>